@import "tailwindcss";

:root {
  --primary-background: #48171b;
  --primary-foreground: #d0ab66;

  --dark-mode-primary-background: #faeed6;
  --dark-mode-primary-foreground: #260f00;

  --dark-mode-secondary-background: #260f00;
  --dark-mode-secondary-foreground: #faeed6;

  --test-color: red;

  --home-side-accent-margin: 0px;
  --home-side-accent-width: 0px;

  --home-continue-length: 37.3rem;
  --whoami-continue-length: 14.8rem;
  --stack-continue-length: 12.8rem;
  --certificates-continue-length: 31.3rem;
  --projects-continue-length: 20.1rem;
}

@theme inline {
  --color-background: var(--primary-background);
  --color-foreground: var(--primary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-xs: 300px;
  --breakpoint-mxs: 375px;
  --breakpoint-lxs: 425px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-mode-primary-background);
    --foreground: var(--dark-mode-primary-foreground);
  }
} */

body {
  background: var(--primary-background);
  color: var(--primary-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.secondary-theme {
  background: var(--primary-background);
  color: var(--primary-foreground);
}

.primary-theme {
  background: var(--primary-background);
  color: var(--primary-foreground);
}

.gradient-theme {
  background: linear-gradient(
    var(--primary-background),
    #7c272e,
    var(--primary-background)
  );
  color: var(--primary-foreground);
}

body.secondary-theme {
  background: var(--primary-background);
  color: var(--primary-foreground);
}

.nav-text {
  margin: 0 4rem;
  transition: all 0s linear;
  transition-delay: 0.2s;
}

.nav-text.secondary-theme {
  color: var(--primary-foreground);
}

.nav-text.active {
  text-decoration: underline;
}

.parent-label-float {
  height: 1rem;
  top: -0.9rem;
  width: 4rem;
  background: var(--primary-background);
}

.input-border {
  border: var(--primary-foreground) 2px solid;
  height: 3rem;
  width: 13.5rem;
}

.input-border:has(> .parent-textarea-float) {
  height: 16.5rem;
  width: 27.5rem;
}

.child-label-float {
  color: #faeed6;
}

.child-input-float {
  color: var(--primary-background);
  background-color: #faeed6;
  padding-left: 4px;
  position: relative;
  top: -0.5rem;
}

.child-textarea-float {
  color: var(--primary-background);
  background-color: #faeed6;
  resize: none;
  padding-left: 4px;
  width: 26rem;
  height: 14.5rem;
}

.long-parent-label {
  width: 5.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.child-form-button {
  height: 2rem;
  width: 10rem;
}

.custom-button {
  background-color: var(--primary-foreground);
  border: #faeed6 2px solid;
  color: #faeed6;
}

.accent-test {
  height: 21.5rem;
  position: absolute;
  border-right: var(--primary-foreground) 1px solid;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}

.accent-extra {
  height: 0rem;
  position: absolute;
  border-right: var(--primary-foreground) 2px solid;
  transition-behavior: allow-discrete;
  transition: all 1s linear;
}
.accent-extra.stretch {
  height: 2rem;
}

.accent-line {
  width: var(--home-side-accent-width);
  position: absolute;
  border-bottom: var(--primary-foreground) 2px solid;
  transition-behavior: allow-discrete;
  transition: width 0.5s linear;
}

.accent-line.contract {
  width: 0rem;
}

.accent-continue {
  height: 0rem;
  position: absolute;
  border-right: var(--primary-foreground) 2px solid;
  transition-behavior: allow-discrete;
  transition: all 1s linear;
}

.accent-continue.home-len {
  height: var(--home-continue-length);
}

.accent-continue.whoami-len {
  height: var(--whoami-continue-length);
}

.accent-continue.stack-len {
  height: var(--stack-continue-length);
}

.accent-continue.certificates-len {
  height: var(--certificates-continue-length);
}

.accent-continue.projects-len {
  height: var(--projects-continue-length);
}

.accent-begin {
  height: 12.2rem;
  position: absolute;
  border-right: transparent 1px solid;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}
.accent-begin.short {
  height: 12rem;
  border-right: transparent 1px solid;
}
.accent-begin.stretch {
  height: 18rem;
}

.accent-left-triangle-up {
  width: 0rem;
  position: absolute;
  border-top: 2px solid var(--primary-foreground);
  transform: rotate(315deg);
  transform-origin: top right;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}

.accent-left-triangle-up.stretch {
  width: 10rem;
}

.accent-right-triangle-up {
  width: 0rem;
  position: absolute;
  border-top: 2px solid var(--primary-foreground);
  transform: rotate(45deg);
  transform-origin: top left;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}

.accent-right-triangle-up.stretch {
  width: 10rem;
}

.accent-left-triangle-down {
  width: 0rem;
  position: absolute;
  border-top: 2px solid var(--primary-foreground);
  transform: rotate(45deg);
  transform-origin: top right;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}

.accent-left-triangle-down.stretch {
  width: 10rem;
}

.accent-right-triangle-down {
  width: 0rem;
  position: absolute;
  border-top: 2px solid var(--primary-foreground);
  transform: rotate(315deg);
  transform-origin: top left;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}

.accent-right-triangle-down.stretch {
  width: 10rem;
}

.accent-end {
  height: 0rem;
  position: absolute;
  border-right: var(--primary-foreground) 1px solid;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}
.accent-end.short {
  height: 7.5rem;
}
.accent-end.stretch {
  height: 17.5rem;
}

.mobile-side-nav-parent {
  background-color: var(--primary-background);
  border: 2px solid var(--primary-foreground);
  width: 15rem;
  height: 22rem;
  transition-behavior: allow-discrete;
  transition: all 0.5s linear;
}

.mobile-side-nav-parent.inactive {
  visibility: hidden;
  border: 0px;
  width: 0;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .accent-line {
    width: 4rem;
  }

  .accent-left-triangle-up.stretch {
    width: 7rem;
  }

  .accent-right-triangle-up.stretch {
    width: 7rem;
  }

  .accent-left-triangle-down.stretch {
    width: 7rem;
  }

  .accent-right-triangle-down.stretch {
    width: 7rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 300px) {
  .nav-text {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1125px) and (min-width: 1024px) {
  .nav-text {
    margin: 0 1.5rem;
  }
}

@media only screen and (max-width: 1226px) and (min-width: 1126px) {
  .nav-text {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 1740px) and (min-width: 1226px) {
  .nav-text {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 300px) {
  .input-border {
    height: 3rem;
    width: 15.5rem;
  }

  .input-border:has(> .parent-textarea-float) {
    height: 12.5rem;
    width: 16.5rem;
  }

  .child-input-float {
    width: 14.5rem;
  }

  .child-textarea-float {
    width: 15rem;
    height: 10.5rem;
  }
}
